/* Copied & modified from
https://github.com/chibicode/solo/blob/gh-pages/css/solo.css
MIT License
*/

html {
  font: 16px/1.5 Inconsolata, sans-serif;
}

@media (min-width: 30rem) {
  html {
    font-size: 20px;
  }
}

body {
  color: $base-gray;
}

@media (min-width: 30rem) {
  body {
    margin-top: 0.25rem;
  }
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

body a {
  color: $theme-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem -0.1rem /* align left edge */;
  line-height: 1;
  color: darken($base-gray, 13.5%);
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

h1 a {
  color: inherit;
}

div.site-title {
  text-align: center;
  margin-bottom: 0.5em;
  font-family: Open Sans Condensed;
  a, a:hover, a:focus, a:active {
    font-size: 3.5em;
    @media (min-width: 721px) {
      font-size: 7em;
    }
    @media (min-width: 641px) and (max-width: 720px) {
      font-size: 6em;
    }
    @media (min-width: 401px) and (max-width: 640px) {
      font-size: 5em;
    }
    @media (min-width: 351px) and (max-width: 400px) {
      font-size: 4em;
    }
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
  }
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
  h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

h3, h4, h5, h6 {
  margin-top: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}

p, ul, ol, dl, table, pre, blockquote {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul, ol {
  padding-left: 1.5rem;
}

dd {
  margin-left: 1.5rem;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: .5rem 1rem;
  border-left: .25rem solid lighten($base-gray, 60%);
  color: lighten($base-gray, 20%);
}

blockquote p:last-child {
  margin-bottom: 0;
}

hr {
  border: none;
  margin: 1.5rem 0;
  border-bottom: 1px solid lighten($base-gray, 60%);
  position: relative;
  top: -1px;
}

.container img, .container iframe {
  max-width: 100%;
}

.container img {
  margin: 0 auto;
  display: block;
}

table {
  width: 100%;
  border: 1px solid $table-border;
  border-collapse: collapse;
}

td, th {
  padding: .25rem .5rem;
  border: 1px solid $table-border;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: $table-alt-row-color;
}

pre, code {
  font-family: inherit;
}

pre {
  padding: .5rem 1rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border: 1px solid #e6e1dc;
  background-color: $white;
}

code {
  padding: .1rem .25rem;
  background-color: #f4f4f4;
}

pre > code {
  padding: 0;
  background-color: $white;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
  outline: 0px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5), 0 12px 32px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 24px;
  padding-top: 8px;
}

div.post-title {
  div.logo {
    display:inline-block;
    padding-right:0em;
    vertical-align:top;
    font-size:3em;
    color: $theme-color;
    @media (max-width: 676px) {
      display:none;
    }
  }
  div.title {
    display:inline-block;
    h2 {
      display:block;
      padding:0;
      margin:0;
    }
    span {
      padding-left:0.25em;
      font-size: 0.75em;
    }
  }
}

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

.nav {
  display: flex;
}

.nav .button-container {
  width: 50%;
  text-align: center;
}

.nav .fa-stack {
  height: 0.75em;
}

.nav > a:hover, a:focus {
  text-decoration: none;
}

.nav .disabled {
  color: #E1E1E1;
}

/* Shamelessly lifted from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;

  padding: 4px;
  width: 300px;
  bottom: 100%;
  left: 50%;
  margin-left: -150px; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
